html{
	width: 900px;
	height: 100%;
}

.container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
   
}

.clock {
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid white;
    color: blue;
}

#Date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 5px black;
}

ul {
    width: 800px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline;
    font-size: 10em;
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px black;
}

#point {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
